@import "../../utils/scss/_variables";
@import "../../utils/scss/_config";

.project.page-container {
}

.project h1 {
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
}

.project p {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.project__amount-donated {
  font-size: 1.3rem;
  font-weight: 700;
}
.project .project__creator {
  text-align: left;
  width: 88vw;
  max-width: 32rem;
}
.project__flex-outer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem;
}

.project__details-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 35rem;
  // border: 1px solid black;
  // border-radius: 15px;
  margin: 0.5rem auto;
  padding: 0 0.75rem;
}

.project__image {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  display: block;
  width: 88vw;
  max-width: 32rem;
  max-height: 18rem;
  height: 49.5vw;
  border-radius: 5px;
  box-shadow: 0 0 1px #aaa;
}

p.project__description {
  border-top: 1px solid #bbb;
  margin-top: 0.7rem;
  padding-top: 0.7rem;
  text-align: left;
  width: 88vw;
  max-width: 32rem;
}

.project__amount {
  font-size: 1.1rem;
  width: 100%;
  margin: 0.5rem 0;
}

// make them fade a little bit to emphasize the title and amount
.project__status,
.project__deadline,
.project__description {
  color: $secondaryBlack;
}

.project__status.failed {
  color: $dangerTextColor;
}

.project__status.completed {
  color: $secondaryColorDark;
}

.project__actions-container {
  border-top: 1px solid #bbb;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.project__button {
  margin: 0 auto;
  margin-top: 0.75rem;
  width: 100%;
  min-width: 12rem;
  // max-width: 25rem;
  background-color: #0000;
  color: $secondaryBlack;
  border: 1px solid $secondaryBlack;

  &:hover {
    background-color: #0001;
  }
}

.project__button.cta {
  background-color: #ffaa14;
  color: $mainBlack;
  border: none;

  &:hover {
    background-color: #ee9900;
  }
}

.project__button.danger {
  margin-top: 0.75rem;
  background-color: $dangerBackgroundColor;
  color: $mainWhite;
  border: none;

  &:hover {
    background-color: $dangerBackgroundColorHover;
  }
}

.project.hr.subtle {
  position: relative;
  top: 0.2rem;
}

// ----------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@include media-md {
  .project.page-container {
    padding-top: 5.75rem;
  }
  .project__details-and-action-container,
  .project__details-container {
    width: 38%;
    max-width: 23rem;
    margin: 0;
  }
  .project__details-container {
    width: 52%;
    max-width: 32rem;
    justify-content: flex-start;
    margin-right: 2rem;
  }
  .project__details-and-action-container {
    margin-top: 2.55rem;
    border: 1px solid #0002;
    background-color: $mainFgColor;
    border-radius: 8px;
    padding: 0.8rem;
    height: fit-content;
    align-self: flex-start;
  }
  #hr--below-project-details {
    position: relative;
    top: 0.5rem;
  }
  .project__actions-container {
    margin-top: 0;
    border-top: 0px solid #0000;
    width: 100%;
    padding: 0.5rem 0;
  }
  .project__image {
    width: 48vw;
    height: 27vw;
  }
  .project .project__creator,
  p.project__description {
    width: 48vw;
    margin: 0;
    margin-bottom: 0.7rem;
  }

  .project p,
  .project h1 {
    text-align: left;
  }
  .project h1 {
    font-size: 1.8rem;
  }
  .project.btn {
    width: fit-content;
    min-width: 0;
    margin: 0 auto;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
  }

  .project__amount {
    margin: 0;
  }

  .project__amount-donated {
    font-size: 1.7rem;
  }

  .project__button {
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

@include media-lg {
  .project__amount-donated {
    font-size: 2rem;
  }
  .project h1 {
    font-size: 2rem;
  }
  .project__details-and-action-container {
    margin-top: 2.8rem;}}
@media (min-width: 768px) {
  // for the desktop version
  .desktop-version {
    display: grid;
    // Add other styles for desktop version here
  }
}
  