// color variables
//   backgrounds
$primaryColor: #1ab873;
$primaryColorDim: #0aa863;
$primaryColorDimTranslucent: #0aa863f8;
$primaryColorBrighten: #2ac883;
$primaryColorBrightenMore: hsl(154, 63%, 49%);
$primaryColorBrightenEvenMore: #5ed4a1;
$primaryColorTranslucent: #0aa86340;
// #0aa86344
// #bee8d5
// analogous or different brightness / saturation color to the primary
$secondaryColor: #1fc278;
$secondaryColorDark: #007162;

// colors for dark background
$darkPrimaryColor: hsl(154, 40%, 80%);
// hsl(153,62%,49%)
$darkSecondaryColor: hsl(154, 30%, 80%);
$darkSecondaryColorDim: hsl(154, 30%, 70%);

$authPageBgGradient: linear-gradient(0deg, #aed8c5 0%, #deffec 100%);
$gradientButtonBgGradient: linear-gradient(90deg, #0aa863 0%, #2fcd88 100%);
$gradientButtonBgGradientDim: linear-gradient(90deg, #009e59 0%, #25c37e 100%);
$gradientButtonBgGradientDimmer: linear-gradient(
  90deg,
  hsl(153, 100%, 20%) 0%,
  hsl(153, 68%, 40%) 100%
);
// contrast color to the primary
// $tertiaryColor:
$mainFgColor: #fafdff;

// $mainBgColor: #e8eae8;
$mainBgColor: #ecefee;
$secondaryBgColor: #e5e9e8;
$buttonBlack: #2f2f2f;
$buttonBlackDim: #1b1b1b;
$buttonBlackLight: #4f4f4f;
$blackIconImageFilter: invert(6%) sepia(5%) saturate(4412%) hue-rotate(149deg)
  brightness(97%) contrast(83%);
$blackIconImageFilterLight: invert(29%) sepia(0%) saturate(1%)
  hue-rotate(104deg) brightness(97%) contrast(88%);
$blackIconImageFilterLighter: invert(22%) sepia(5%) saturate(1936%)
  hue-rotate(158deg) brightness(97%) contrast(91%);
$whiteIconImageFilter: invert(100%) sepia(58%) saturate(0%) hue-rotate(133deg)
  brightness(114%) contrast(101%);
$greenIconImageFilter: invert(58%) sepia(59%) saturate(6690%) hue-rotate(131deg)
  brightness(90%) contrast(92%);
$greenOnDarkIconImageFilter: invert(73%) sepia(59%) saturate(357%)
  hue-rotate(99deg) brightness(93%) contrast(83%);

// $mainBlack: #000;
$mainBlack: hsl(198, 22%, 10%);
$mainBlackLight: hsl(198, 22%, 15%);
$secondaryBlack: hsl(195, 18%, 13%);
$secondaryBlackLight: hsl(198, 18%, 17%);
$secondaryBlackLighter: hsl(202, 15%, 24%);
$mainWhite: #fafdff;
$mainWhiteDim: #eaedef;
$fontPrimary: "Commissioner", sans-serif;

// This is for error and warnings
$lightPink: #ffacb4;
$glowingYellowTextColor: #ffe;
$warningTextColor: #fa8;
$warningTextColorHover: #fdb;
$warningTextColorLight: #fc9;
$warningBackgroundColor: #fdb;
$warningBackgroundColorHover: #fed;
$dangerTextColor: #933;
$dangerTextColorDim: rgb(124, 41, 41);
$dangerTextColorLight: rgb(184, 61, 61);
$dangerInputBackgroundColor: #fee;
$dangerBackgroundColor: #b33;
$dangerBackgroundColorHover: #a22;
$dangerImageFilter: invert(26%) sepia(26%) saturate(3064%) hue-rotate(327deg)
  brightness(90%) contrast(93%);

// Textfield, forms, variables
$textfieldFocusColor: #fffff2;

// size variables
$profilePictureSize: 2.5rem;
$contentAreaMaxWidth: 60rem;
